.tags {
  display: flex;
  > * {
    margin-right: 7px;
  }
}
.tag {
  cursor: pointer;
  border-radius: 90px;
  padding: 0 14px;
  color: $color-tag-text;
  @include font($size: 1.3rem, $weight: 400, $height: 2.8rem);
  &_selected {
    background-color: $color-primary;
    color: $color-light;
  }
  &_bordered {
    border: 1px solid $color-tag-border;
    background-color: $color-light;
  }
  &_colored {
    background-color: $color-tag;
  }
}
