.strategies {
  padding: 30px 0;
  @include media-desktop {
    padding: 50px 0 0;
  }
  @include media-mobile {
    padding-top: 63px;
  }
}
.strategies__title {
  color: $color-heading;
  margin: 0 0 14px;
  @include media-desktop {
    text-align: center;
  }
}
.strategies__description {
  margin-bottom: 24px;
  @include media-desktop {
    text-align: center;
  }
  @include media-mobile {
    margin-bottom: 22px;
  }
}
.strategies__tags {
  margin-bottom: 31px;
  @include media-desktop {
    margin-bottom: 24px;
    justify-content: center;
  }
  @include media-mobile {
    margin-bottom: 34px;
  }
}
.strategy-wrapper {
  column-gap: 30px;
  row-gap: 30px;
  @include media-desktop {
    justify-content: center;
    row-gap: 26px;
  }
  @include media-mobile {
    justify-content: center;
    row-gap: 21px;
  }
}
.strategy {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: $color-light;
  &_hidden {
    display: none;
  }
  @include media-desktop {
    flex-basis: 48%;
    max-width: 323px ;
    overflow: hidden;
  }
  @include media-mobile {
    flex-basis: 100%;
  }
  .strategy__image {
    @include media-desktop {
      height: 200px;
      object-fit: cover;
      object-position: center center;
    }
    @include media-mobile {
      height: 171px;
    }
  }
}
.strategy__content {
  padding: 24px 34px 26px 33px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include media-mobile {
    padding: 26px 30px 26px 29px;
  }
}
.strategy__name {
  margin: 0 0 29px;
  flex-grow: 1;
}

.article-modal__content {
  .strategy__image {
      width: 100%;
      @include media-tablet {
          position: static;
      }
  }

  .strategy__date {
      @include font ($size: 1.3rem, $weight: normal,$height:normal);
      margin: 0 0 5px;
  }

  .strategy__name {
      margin-bottom: 10px;
  }

  .strategy__text {
      margin: 0 0 12px;
  }
}